.avatar_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px dashed #ccc;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.uploader{
    color:rgb(188, 84, 46);
    font-weight: 600;
}
.uploader:hover{
    color: rgb(125, 59, 35);
    cursor: pointer;
}