/* UTILS STYLE  */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* HEADER STYLE  */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.upload-button {
  display: block;
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #555;
}
